.top-footer-section {
    .footer-grid {
        display: grid;
        gap: 5px;

        @include respond (minWidth992) {
            grid-template-columns: repeat(9, 1fr);
        }

        @include respond (maxWidth992) {
            grid-template-columns: repeat(6, 1fr);
        }

        @include respond (maxWidth340) {
            grid-template-columns: repeat(2, 1fr);
        }

        .footer-grid-item {
            overflow: hidden;

            img {
                mix-blend-mode: luminosity;
                transition: 0.4s ease;
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
            }

            &:hover {
                img {
                    mix-blend-mode: normal;
                    transform: scale(1.1);
                }
            }

            &.g5 {
                grid-column-end: 5;
                grid-column-start: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                display: grid;

                @include respond (maxWidth575) {
                    grid-column-end: 6;
                    grid-column-start: 2;
                    grid-row-start: 3;
                    grid-row-end: 6;
                }

                .footer-content-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    @include respond (maxWidth340) {
                        padding: 25px 0;
                    }
                }
            }

            .footer-content-wrapper {
                background: $colorPrimary;
                color: $colorWhite;

                h1 {
                    margin-bottom: 15px;
                    padding-bottom: 20px;
                    color: $colorWhite;
                    font-weight: 700;
                    font-family: "Antonio", sans-serif;
                    border-bottom: 1px solid $colorWhite;
                    text-transform: uppercase;
                    @include respond (maxWidth768) {
                        font-size: 24px;
                        margin-bottom: 1rem;
                        padding-bottom: 0.6rem;
                    }
                    @include respond (minWidth768) {
                        font-size: 30px;
                    }
                    @include respond (minWidth992) {
                        font-size: 36px;
                    }
                    @include respond (minWidth1200) {
                        font-size: 40px;
                    }
                }

                h2 {
                    font-size: 32px;
                    color: $colorWhite;
                    font-family: "Antonio", sans-serif;
                    margin-bottom: 15px;
                    font-weight: 100;

                    @include respond (maxWidth575) {
                        font-size: 26px;
                        margin-bottom: 0;
                    }
                }
                h6 {
                    font-size: 24px;
                    color: $colorWhite;
                    // font-family: "Antonio", sans-serif;
                    margin-bottom: 15px;
                    font-weight: bold;

                    @include respond (maxWidth575) {
                        font-size: 26px;
                        margin-bottom: 0;
                    }
                }

                p {
                    font-size: 18px;
                    color: $colorWhite;
                    font-weight: 600;
                    margin-top: 20px;

                    @include respond (maxWidth575) {
                        font-size: 20px;
                    }

                    a {
                        color: $colorWhite;
                        border: 1px solid $colorWhite;
                        padding: 6px 15px;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
}

.call-to-action{
    .row{
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 1.5rem;
        .col-md-8{
            background: $colorPrimary;
            padding-top: 5rem;
            padding-bottom: 5rem;
            border-radius: 1.5rem 0 0 1.5rem;
            p{
                color: $colorWhite;
                font-size: 36px;
                font-family: $primaryHeading;
                padding: 0 12rem 0 2rem;
                @include respond (maxWidth768){
                    padding: 2rem;
                }
                line-height: 1;
            }
        }
        .col-md-4{
            text-align: center;
            @include respond (maxWidth768){
                margin: 2rem 0;
            }
        }
    }
}
.bottom-footer{
    padding: 5rem 0;
    .info {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        @include respond (maxWidth768){
            justify-content: center;
        }
        a{
            color: $colorBg;
        }
        i{
            font-size: 2.4rem;
        }
    }
    h4{
        color: $colorBg;
        font-family: $primaryHeading;
        display: inline;
    }
    .row{
        .col-md-6{
            @include respond (maxWidth768){
            &:first-child{
                    margin-bottom: 2rem;
                }
                &:last-child{
                    text-align: center;
                }
            }
            &:last-child{
              @include respond (minWidth768){
                text-align: right;
              }  
            }
        }
    }
    .footer-social-links{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: row;
        margin-bottom: 0;
        li{
            a{
                width: 40px;
                height: 40px;
                background: var(--fclr);
                display: grid;
                place-content: center;
                border-radius: 50%;
                transition: all 0.4s;
                color: #ffffff;
                &:hover{
                    transform: scale(1.03);
                }
            }
        }
    }
}
