@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.heading-hero-primary {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: $colorWhite;
  text-align: center;
  line-height: 1.26;
  text-shadow: 3px 3px 20px #00000066, -2px 1px 30px #00000066;

  @include respond(maxWidth992) {
    font-size: 48px;
  }

  @include respond(maxWidth768) {
    font-size: 36px;
  }

  @include respond(maxWidth575) {
    font-size: 30px;
  }
}

.heading-hero-secondary {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 200;
  color: $colorWhite;
  text-align: center;
  line-height: 1.26;
  display: block;

  @include respond(maxWidth992) {
    font-size: 36px;
  }

  @include respond(maxWidth768) {
    font-size: 30px;
  }

  @include respond(maxWidth575) {
    font-size: 24px;
  }
}

.heading-primary {
  display: inline-block;
  font-weight: 900;
  padding-bottom: 20px;
  position: relative;
  color: $colorBg;
  font-size: 48px;
  font-family: $primaryHeading;
  // text-transform: uppercase;

  &::before {
    background-image: linear-gradient(90deg, $colorBg 33%, $colorPrimary 33%);
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 80px;
  }

  @include respond(maxWidth992) {
    font-size: 36px;
  }

  @include respond(maxWidth768) {
    font-size: 30px;
  }

  @include respond(maxWidth575) {
    font-size: 24px;
  }

  span {
    color: $colorPrimary;
  }
}

.heading-secondary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  color: $colorPrimary;
}

.heading-tertiary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: $colorPrimary;
}

.heading-four {
  line-height: 1.25em;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: $colorPrimary;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
}

.heading-five {
  font-size: 36px;
  font-family: $primaryHeading;
  text-align: center;
  color: $colorBg;
  margin-bottom: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  span{
    display: block;
    font-size: 24px;
    color: $colorPrimary;
  }
}

.conten-para p,
.content-para li {
  font-size: 18px;
  line-height: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond(maxWidth992) {
    font-size: 16px;
    line-height: 1.7;
  }

  @include respond(maxWidth768) {
    font-size: 14px;
    line-height: 1.7;
  }
}